.container {
  max-width: 1440px;
  margin: auto;
  padding: 1.5rem;
}

.block {
  display: block;
}

.none {
  display: none;
}

.m-1, .p-1 {
  margin: 1rem;
}

.m-2, .p-2 {
  margin: 2rem;
}

.m-3, .p-3 {
  margin: 3rem;
}

.m-4, .p-4 {
  margin: 3rem;
}

.my-1 {
  margin: 1rem 0;
}

.white-line {
  height: 1px;
  width: 100px;
  background: #fff;
  margin-bottom: 3rem;
}

.l-heading {
  line-height: 1.1;
  padding-top: 1rem;
}

.m-heading {
  font-size: 3rem;
  line-height: 1.1;
  margin: 0.5rem 0;
  padding-top: 1rem;
  font-family: 'DM Serif Display', sans-serif;
}

.s-heading {
  font-size: 1.5rem;
  line-height: 1.1;
  margin: 0.5rem 0;
  font-family: 'DM Serif Display', sans-serif;
}

.bg-dark-violet {
  background: #95a9c6;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  line-height: 1.6;
  color: #837d87;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0.5rem;
}

h1 {
  margin: 0.5rem 0;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 3.5rem;
}

img {
  width: 100%;
}

#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff;
}

#main-nav .nav-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-nav .nav-content img {
  width: 120px;
}

#main-nav .nav-content .fa-bars {
  font-size: 1.6rem;
  display: none;
  text-align: right;
}

#main-nav .nav-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-nav .nav-content ul li:last-child a {
  border: 2px solid #2d2640;
  padding: 0.55rem 0.9rem;
}

#main-nav .nav-content ul li:last-child a:hover {
  background: #2d2640;
  color: #fff;
}

#main-nav .nav-content ul li a {
  padding: 10px 16px;
  color: #837d87;
  font-weight: 700;
}

#main-nav .nav-content ul li a:hover {
  color: #2d2640;
}

#main-header {
  position: relative;
  top: 5rem;
  color: #fff;
}

#main-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 600px;
  background: #2d2640;
  z-index: -1;
}

#main-header .header-content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'h1 img';
  grid-gap: 3rem;
  padding: 3rem;
}

#main-header .header-content-a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h1;
  margin-bottom: 5rem;
}

#main-header .header-content-a a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 0.3rem 0.7rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 1rem;
}

#main-header .header-content-a a:hover {
  background: #fff;
  color: #2d2640;
}

#main-header .header-content-b {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img;
}

#main-header .header-content-b img {
  min-width: 350px;
}

#section-a {
  padding-top: 5rem;
  padding: 5rem 2rem 0;
  position: static;
  top: 50px;
  margin-bottom: 8rem;
}

#section-a h1, #section-a h3 {
  color: #2d2640;
}

#section-a .section-a-items {
  padding-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

#section-a .section-a-items img {
  width: 80px;
}

#section-b {
  background: #2d2640;
  max-width: 1400px;
  margin: 0 auto 10rem;
  padding: 0 3rem;
}

#section-b .m-heading {
  color: #fff;
  font-weight: normal;
}

#section-b .section-b-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
  padding: 1.5rem;
}

#section-b .section-b-content h1 {
  padding-top: 0;
}

#section-b .section-b-content a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 0.3rem 0.7rem;
  color: #fff;
  font-weight: 700;
  justify-self: flex-end;
}

#section-b .section-b-content a:hover {
  background: #fff;
  color: #2d2640;
}

#main-footer .top-footer-container {
  border-bottom: 1px solid #837d87;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-bottom: 15px;
}

#main-footer .top-footer-container .footer-logo {
  width: 100px;
}

#main-footer .top-footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
}

#main-footer .top-footer-container ul li {
  padding: 0 5px;
}

#main-footer .top-footer-container ul li img {
  width: 25px;
}

#main-footer .bottom-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

#main-footer .bottom-footer ul li:first-child a {
  display: inline-block;
  color: #837d87;
  padding-bottom: 18px;
}

#main-footer .bottom-footer ul li a {
  color: #2b272f;
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 768px) {
  #main-nav .nav-content {
    -ms-grid-columns: 20% 80%;
        grid-template-columns: 20% 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-nav .nav-content .fa-bars {
    display: block;
  }
  #main-nav .nav-content .fa-times {
    display: none;
    justify-self: flex-end;
  }
  #main-nav .nav-content ul {
    position: fixed;
    display: block;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    text-align: center;
    width: 100%;
    background: #2b272f;
    display: none;
  }
  #main-nav .nav-content ul li:last-child a {
    border-color: #fff;
    margin-top: 20px;
  }
  #main-nav .nav-content ul li:last-child a:hover {
    background: #fff;
    color: #2b272f;
  }
  #main-nav .nav-content ul li:first-child a {
    margin-top: 25px;
  }
  #main-nav .nav-content ul li a {
    color: #fff;
    margin: 5px;
    display: inline-block;
  }
  #main-header::before {
    position: static;
  }
  #main-header .header-content {
        grid-template-areas: 'img' 'h1';
    grid-gap: 0;
    padding: 0rem;
  }
  #main-header .header-content-a {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: h1;
    position: relative;
    top: 0px;
    padding: 1rem;
    text-align: center;
  }
  #main-header .header-content-a::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    width: 100%;
    height: 450px;
    background: #2d2640;
    z-index: -1;
  }
  #main-header .header-content-b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
  }
  #section-b {
    padding: 0;
  }
  #section-b .section-b-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  #section-b .section-b-content a {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #main-footer .bottom-footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  #main-header .header-content-a .white-line {
    margin-left: auto;
    margin-right: auto;
  }
  #main-header .header-content-a h1 {
    font-size: 2rem;
  }
  #section-a .white-line {
    margin-left: auto;
    margin-right: auto;
  }
  #section-a h1 {
    font-size: 2rem;
  }
  #section-a .section-a-items {
    padding-top: 4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
  #section-b .m-heading {
    font-size: 2rem;
  }
  #main-footer .top-footer-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #main-footer .top-footer-container .footer-logo {
    margin: 0 auto;
    padding-bottom: 8px;
  }
  #main-footer .top-footer-container ul {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #main-footer .bottom-footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #main-footer .bottom-footer ul li {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */